header {
  position: fixed;
  background-color: #333;
  color: rgb(0, 0, 0);
  text-align: center;
  top: 0px;
  left: 0px;
  width: 101%;
  height: 50px;
  z-index: 2;
}

header h1 {
  color: #d2691e;
}

nav a {
  color: #ff0000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: #00ff00;
}

footer {
  background-color: #333;
  color: rgb(0, 0, 0);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  margin-top: 2px;
  z-index: 2;
}

.footer-icons img {
  height: 30px;
  margin-right: 10px;
}

footer ul {
  list-style: none;
  display: flex;
}

footer li {
  margin-right: 10px;
}

main {
  margin-top: 54px;
  margin-left: 0%;
  margin-right: 0%;
}
nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 10px;
}

#dashboard-section {
  display: none; 
  padding: 20px;
  width: 100%;
}


body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

#stats-container {
  margin-top: 20px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  width: 25%;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #ccc;
  flex: 1;
}

.stat h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 8px;
}

.stat:last-child {
  border-right: none; 
}

.stat p {
  font-size: 24px;
  color: #007bff;
  margin: 0;
}



.texte-personnalise {
  margin-top: 120px;
  
}

/* Styles pour la fenêtre modale */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
  position: relative;
}

.close {
  position: static;
  top: 0;
  right: 0;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-entry {
  width: 200px;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

#overlay {
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-container {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

#fullImage {
  max-width: 300px;
  max-height: 300px;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

#blog-content {
  height: 1000px;
  overflow-y: auto;
  width: 100%;
  margin: 0 auto;
}

pre {
  font-family: 'arial', monospace;
  font-size: 20px;
  line-height: 1.6;
  color: #333;
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#sidebar {
  width: auto;
  height: auto;
  position: fixed;
  top: 50px;
  left: 0;
  background-color: #333;
  overflow-y: auto;
  padding-top: 20px;
  color: white;
  transition: width 0.5s ease;
}
iframe {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50px;
  left: 200px;
}

.titles-container {
  padding: 10px;
}

.titles-container button {
  width: 100%;
  text-align: left;
  background-color: #007bff;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  margin-block: auto;
}

.titles-container button:hover {
  text-decoration: underline;
}
nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 10px;
}

nav button {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #0056b3;
}

.portfolio-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.portfolio-item {
  text-align: center;
}

.portfolio-item img {
  max-width: 100%; 
  height: auto; 
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  #stats-container {
    max-width: 100%;
  }

  .stat {
    width: 100%;
    border-right: none;
  }
}
#image-container {
  position: relative;
  max-width: 50%;
  max-height: 50%;
}