html{
	height: inherit !important;
}

body{
    padding: 0 40px 40px 40px;
	font-family: "Arial";
	height: inherit !important;
	margin-top: 0;
}
h2{
	float: top;
	float: left;
	font-family: "Arial";
	margin-bottom: 10px;
	margin-top: 4px;
	font-size: 13px;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 2px;

}

/* Content of the bootstrap tab */
.tab-content{
}

/* Flexbox inside said tab, which in turn manages order of divs within. */
.flex-container{
	display: flex;
}

.flex-container-wrap{
	display: flex;
	flex-wrap: wrap;
}

/* Determines orientation. */
.flex-horizontal{
	flex-direction: row;
}

.flex-vertical{
	flex-direction: column;
}


.basic-container{
	background-color: #EEEEEE;
	padding: 20px;
	margin: 10px;
	flex-grow: 1;
}

.basic-container-items{
	background-color: #EEEEEE;
	padding: 20px;
	margin: 10px;
}

/* Als ik hier een pixelwaarde van maak gaat het goed, maar met een percentage niet. 
Rare interactie met flexbox die ik niet begrijp.  */
.dual-column{
	flex: 1;
}


.page-header{
	max-width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	
}

.standard-background {
	background-image: url("../Static/Layout/background-pr.png");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: fixed;
}

/* Shows character info, this is not a tooltip. */
.character-container{
	width: 150px;
	height: 150px;
	background-color: steelblue;
	margin: 20px;
	padding: 10px;
}

.nav-pills > li > a{
	border-radius: 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #555555;
	font-size: 13px;
	
}
.nav-pills > li > a:hover{
	color: #000000;

}

#charoverview-container{
	height: 750px;
}

#character-filters{
	flex-basis: 5%;
}

#character-list{
	flex-basis: 85%;
	align-content: flex-start;
}

#barchartpart {
	flex-basis: 40%;
	
}

#tooltip-container {
	flex-basis: 33%
} 

#gearcheck-container{
	height: 750px;
}

#barchart-container{
	flex-basis: 55%;
}

#generalstats-container{

}

#characterinfopart{
	flex-basis: 20%;
}

#tooltippart{
	flex-basis: 40%;
}

#accountpart{
	flex-basis: 15%
}

#account{
	margin-left: -30px;
	margin-top: 10px;
}

#actualpiechartpart{
	flex-basis: 80%;
}

#piechartpart{
	flex-basis: 30%;
}

#legendpart{
	flex-basis: 10%;
}

.charlevel {
	font-size: 15px;
	margin-left: 10px;
}

#sort-select {
	margin: 10px;
	margin-left: 0px;
}

.bartooltip {
	font-size: 12px;
}

#apiKey{
	width: 80% !important;
	margin-left: 5px;
}

#sunburstinnerwrapper{
    width: 90%;
    height: 120px;
}
#barchartsvg {
	width: 100%;
}
#piesvgpart {
	margin-top: 20px;
	
}
#piesvg {
	margin: 10px;
	float: left;
	margin-top: 40px;
}

.pie-title{
	font-size: 20px;
	/* margin-left: 30px; */
}

#error{
	margin-top: 10px;
	padding: 10px;
	color: #D8000C;
	background-color: #FFBABA;
	position: absolute;
	float: top;
	z-index: 100;
}

#menu2{
	overflow-y: scroll;
	height: 510px;
}

#legend{
  display: inline-block;
	float: top !important;
	width: 100%;
	padding-left: 0px;
  margin: 0 auto;
}

.divtitle{
	background-color: 000000;
	outline: antiquewhite;
	outline-width: 3px;
}

.axis text{
    font: 11.4px "Arial";
    letter-spacing: 0.5px;
    text-anchor: end;
}

.axis path,
.axis line{
    fill: none;
    stroke: #00000070;
    shape-rendering: crispEdges;
}

.legend{
    font-family: "Arial";
    font-size: 11px;
}

.bar:hover{
    fill: "steelblue";
}

.accinfo{
    margin: 0;
}

.charname {
	font-weight: bold;
    font-size: 25px;
	margin: 0;
	padding-left: 5px;
}

.charprofession{
    font-size: 25px;
    margin: 0;
	margin-top: 5px;
}
.charage{
	padding-left: 5px;
  margin: 0;
	font-size: 13px;
}

.charbis{
	padding-left: 5px;
	margin: 0;
	margin-top: -15px;
	font-size: 13px;
}

.accinfo{
    font-size: 14px;
}

.sunbursttext{
  margin: 0 auto;
	font-size: 10px;
}

.tooltip{
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 8px;
    font: 12px Arial;
    background: #555555;
    border: #777777 1px solid;
    border-radius: 0px;
    pointer-events: none;
    color: white;
}
.itemname {
	font-size: 23px;
	margin-bottom: 0px;
	margin: 0;
	font-weight: bold;
}
.itemrarity {
	font-size: 20px;
    margin: 0;
}
.itemtype {
	font-size: 13px;
    margin: 0;
}
.itemagonyresist {
	font-size: 13px;
    margin: 0;
}
.menulist{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav{
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: black;
    background-color: #999999;
}
a{
	color: black;
}
ul{
    list-style-type: none;
}
div ul li{
    margin: 5px;
}
img{
	vertical-align: top;
	padding-right: 5px;
}
div ul li p{
    display: inline-block;
    vertical-align: middle;
}
path{
    stroke: #DDDDDD;
}
.profimg{
    vertical-align: middle;
}
.extratext {
	font-size: 13px;
}

.character-page-container {
	width: 300px;
	height: 270px;
}

#character-list {
	justify-content: flex-start;
}

.profession-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.charpageprofession {
	margin: 10px;
	margin-left: 0px;
}

.progressbar {
	width: 200px;
	height: 10px;
	margin: 10px;
	margin-left: 2px;
}

.progress-tooltip {
	font-size: 12px;
	background-color: #c0c0c0;
	padding: 5px;
	padding-top: 6px;
}

.charlevel-overview {
	font-size: 15px;
	margin-left: 5px;
}
.loading-bar {
    height: 5px;
    background-color: #4CAF50; 
    width: 0%; 
    transition: width 0.5s ease;
    display: none;
}